@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: Spinnaker, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", monospace,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
